@import "tailwindcss";

/* #ifdef h5 */
@import "vite-plugin-taro/taro.css";
/* #endif */

@source "./";

@theme {
    --font-pingfang-regular: PingFangSC-Regular;
    --font-pingfang-medium: PingFangSC-Medium;
    --font-pingfang-semibold: PingFangSC-Semibold;
    --font-avenir-black: Avenir-Black;
    --text-22: 1.375rem;
}

.pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
}
