@layer theme, base, taro, components, utilities;

/* Taro component styles. */
@import "virtual:taro/css";
/* Tailwind CSS v4 styles and utilities. */
@import "tailwindcss";

@source "./";

@theme {
    --font-pingfang-regular: PingFangSC-Regular;
    --font-pingfang-medium: PingFangSC-Medium;
    --font-pingfang-semibold: PingFangSC-Semibold;
    --font-avenir-black: Avenir-Black;
    --text-22: 1.375rem;
}

.pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
}
