@import "tailwindcss/theme.css";
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";

@source "./";

@theme {
    --font-pingfang-regular: PingFangSC-Regular;
    --font-pingfang-medium: PingFangSC-Medium;
    --font-pingfang-semibold: PingFangSC-Semibold;
    --font-avenir-black: Avenir-Black;
    --text-22: 1.375rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
}
